<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<meta charset="ISO-8859-1">
    <title>ADD HELPER</title>
</head>
<body>
<h1 align="center">ADD HELPER</h1>
<form class="row g-3" th:action="@{/addhelper/{id}(id=${id})}" th:object="${helper}" method="post">
  <div class="col-4">
    <label for="providerName" class="form-label">Name</label>
    <input type="text" class="form-control" th:value="${helper.providerName}" th:name="providerName" id="providerName">
  </div>
   <div class="col-4">
    <label for="charges" class="form-label">Charges</label>
    <input type="text" class="form-control" th:value="${helper.charges}" th:name="charges" id="charges">
  </div>
   <div class="col-4">
    <label for="contact" class="form-label">Contact</label>
    <input type="text" class="form-control" th:value="${helper.contact}" th:name="contact" id="contact">
  </div>
   <div class="col-4">
    <label for="verification" class="form-label">Verification</label>
    <input type="text" class="form-control" th:value="${helper.verificationDoc}" th:name="verificationDoc" id="verification">
  </div>
  <div class="col-md-6">
    <label for="photo" class="form-label">Photo</label>
    <input type="text" class="form-control" th:value="${helper.photo}" th:name="photo" id= "photo" >
  </div>
  <div class="col-md-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div class="col-md-2">
<input type="button" value="Back" onclick="history.go(-1)" class="btn btn-primary"/>
</div>
</body>
</html>