
<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Dashboard after login</title>
</head>
<body>

       <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        <hr><hr><hr>
          <h1 class="display-3">Welcome </h1>
	          <div sec:authorize="isAuthenticated()">
				Logged in as <b><span sec:authentication="name">Username</span></b> &nbsp;
				<i><span sec:authentication="principal.authorities">Roles</span></i>
			  </div>
		
			<!--  <form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
			-->
          
          <h3 th:text="${name }"></h3>
          <div class="row">
          <div class="col-md-4">
           <p><a class="btn btn-primary btn-lg" th:href="@{/profile/{id}(id=${id})}" role="button">Profile &raquo;</a></p>
           <br>
          </div>
          <div class="col-md-4">
           <p><a class="btn btn-primary btn-lg" th:href="@{/guest/{id}(id=${id})}" role="button">Invite Guest &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <p><a class="btn btn-primary btn-lg" th:href="@{/logout}" role="button">Logout &raquo;</a></p>
          </div>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Event Notifications</h2>
            
            <div sec:authorize="hasAnyAuthority('ADMIN')">
				<a th:href="@{/eventRegister}">Add Event</a>
			</div>		
			<table class="table table-striped">
			<tr>
			<td>Event name</td>
			<td>Event Details</td>
			</tr>
            <tr th:each="events: ${events }">
    <td th:text="${events.eventName}" />
    <td th:text="${events.notificationBody}" />
    <td sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{'/edit/event/' + ${events.eventId}}">Edit</a>
    <a th:href="@{'/delete/event/' + ${events.eventId}}">Delete</a>
	</td>
</tr>
</table>
          </div>
          
          <div class="col-md-4">
            <h2>Committee Members</h2>
             <div sec:authorize="hasAnyAuthority('ADMIN')">
				<a th:href="@{/addcommitteemember}">Add Committee Member</a>
				<a th:href="@{/addmember}">Add Society Member</a>
			</div>
			<table class="table table-striped">
			<tr>
			<td>name</td>
			<td>contact</td>
			<td>role</td>
			<td>photo</td>
			</tr>
   <tr th:each="committee: ${committee }">
    <td th:text="${committee.personName}" />
    <td th:text="${committee.contact}" />
    <td th:text="${committee.role}" />
    <td th:text="${committee.photo}" />
    <td sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{'/edit/event/' + ${committee.id}}">Edit</a>
    <a th:href="@{'/delete/event/' + ${committee.id}}">Delete</a>
	</td>
</tr>
     </table>     </div>
          
           <div class="col-md-4">
            <h2>Services</h2>
             <div sec:authorize="hasAnyAuthority('ADMIN')">
				<a th:href="@{/addcategory}">Add Service Categories</a>
			</div>
   
  <!--    <a th:href="@{/services/{categoryId}(categoryId=${categories[0].categoryId})}" th:text="${categories[0].categoryName }">Services</a>-->
    <table class="table table-striped">
    <tr th:each="category: ${categories }">
   <td> <a th:href="@{/services/{categoryId}(categoryId=${category.categoryId})}" th:text="${category.categoryName }">
</a></td>
</tr>
</table>
<!-- <td sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{'/edit/helper/' + ${helpers.providerId}}">Edit</a>
	<a th:href="@{'/delete/helper/' + ${helpers.providerId}}">Delete</a>		
    </td> -->
    
    
		</div>
             </div>
        </div>

        <hr><hr><hr>

      </div> <!-- /container -->

    </main>
</body>
</html>