<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table class="table table-striped">
<tr>
<td>Rating id</td>
<td>Feedback</td>
<td>Rating</td>
</tr>
<tr th:each="rating: ${rating }"><br>
    <td th:text="${rating.ratingId}" />
    <td th:text="${rating.feedback}" />
    <td th:text="${rating.rating}" />
</tr>
</table>
<a th:href="@{/services/{id}(id=${id})}">Back</a>
</body>
</html>